@font-face {
   font-family: 'guilty';
   src: url('./fonte/Impact\ -\ Strive.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

/* GERAL */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1 {
    font-family: 'guilty';
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}

 .app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

  /* tudo da sidebar */.sidebar {
    width: 220px;
    background-color: #1a1a1a;
    border-right: 3px solid #ff002b;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

  .sidebar h2 {
    color: #ff002b;
    margin-bottom: 30px;
    font-size: 1.6rem;
}

  .sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    display: block;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

  .sidebar a:hover {
    background: #ff002b;
}




body {
    font-family: Impact, Haettenschweiler, sans-serif;
    background: rgb(17, 17, 17);;
    background-size: cover;
    display: block;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}
.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}
    
.btn:hover { 
    background: #ff002b; 
    color: white; }
    
.hidden { 
    display: none; 
}
#img-personagem { 
    width: 250px; 
    height: 250px; 
    margin-top: 20px; 
    border: 5px solid white; 
    object-fit: cover; }


#tela-inicio, #tela-jogo, #tela-resultado {
    background: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 5px;
    border-left: 10px solid #ff002b;
    text-align: center;
    width: 500px;
}